@import "./_variables.scss";

.error-snackbar {
    height: 48px;
    display: flex;
    width: fit-content;
    color: $default-black;
    background-color: #FFFFFF;
    @include box-shadow-light;
    border-radius: 5px;
    overflow: hidden;

    &__icon {
        flex: 0 0;
        padding: 16px;
        color: #FFFFFF;
        background-color: $default-red;
        display: flex;
        align-items: center;
    }
    &__text {
        flex: 1 0;
        padding: 16px;
        display: flex;
        align-items: center;
    }
    &__retry {
        padding: 16px 24px;
        font-weight: 900;
        border-left: 1px solid #ECECEC;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #ECECEC;
        }
    }
}

.success-snackbar {
    height: 48px;
    display: flex;
    width: fit-content;
    color: $default-black;
    background-color: #FFFFFF;
    @include box-shadow-light;
    border-radius: 5px;
    overflow: hidden;

    &__icon {
        flex: 0 0;
        padding: 16px;
        color: #FFFFFF;
        background-color: $default-lightgreen;
        display: flex;
        align-items: center;
    }
    &__text {
        flex: 1 0;
        padding: 16px;
        display: flex;
        align-items: center;
    }
    &__avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 5px;
    }
    &__full-name {
        font-weight: 900;
        margin-right: 5px;
        padding: 0;
    }
}
